[client]
#port = 3306
#socket = /tmp/mysql.sock

[mysqld]
datadir = /Volumes/STORE/eerfdata
#port = 3306
#socket = /tmp/mysql.sock
#pid-file = /Volumes/STORE/eerfdata/Chadwicks-MacBook-Pro.local.pid
default-storage-engine = MyISAM
default_tmp_storage_engine = MyISAM
query_cache_type = 1
key_buffer_size = 2G
query_cache_limit = 400M
