<script type="text/javascript"> window.subject_pk = {{subject.pk}}; </script>
<form action="/eerfapp/my_session/" method="post">
	{% csrf_token %}
	Trials from: <input type="text" class="trial_start" name="trial_start">
	until: <input type="text" class="trial_stop" name="trial_stop">
	Limit: <input type="text" class="trial_limit" name="trial_limit">
	<input type="checkbox" class="monitor" name="monitor">Monitor for new trials.
	<input type="button" value="Defaults" class="reset_trial_settings">
	<input type="submit" value="Save" />
</form>